@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --first-color: #8cafc1f0;
    --second-color: #9db1f1;
    --third-color: #b8d1ee;
    --text-color: #000000;
    --box-shadow: 0 5px 25px rgb(2, 2, 2, 8.1); 
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--first-color);
}


.topRow {
    background: linear-gradient(aliceblue, #8cafc1f0) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
}

section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main-container{
    position: relative;
}

.tab-nav-bar{
    position: relative;
    margin: 20px 5px 20px 5px ;
}

.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu{
    color: white;
    list-style: none;
    background: var(--third-color);
    max-width: 1200px;
    padding: 8px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow: auto;
    user-select: none;
    scroll-behavior: unset;
}


.tab-menu::-webkit-scrollbar{
    display: none;
}


.tab-btn
{
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab-menu.dragging .tab-btn{
    pointer-events: none;    
}

.tab-btn:hover{
    background: var(--first-color);
}

.tab-btn.active{
    background: var(--second-color);
}

.left-btn, .right-btn{
    position: absolute;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
}

.left-btn{
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right-btn{
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tab-content{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding: 15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.tab.active{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;

}

.tab .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
}

.tab .img-card{
    position: relative;
    width: 450px;
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.tab .img-card img{
    width: 100%;
}

.right-column{
    max-width: 800px;
}

.info .navname, .info .description p{
    color: #fff;
    margin-bottom: 10px

}

.info .navname{
    font-size: 2em;
}

.country{
    color: var(--third-color);
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    text-shadow: var(--text-shadow);
}

@media screen and (max-width: 1050px) {

    section{
        margin: 0 0px;
    }
    
    .tab-nav-bar{
        margin: 20px 5px 10px 5px;

    }

    .tab{
        padding: 15px 25px;
    }
    
    .tab .row{
        flex-direction: column;
    }

    .tab .img-card{
        width: auto;
        max-width: 600px;
    }

    .country{
        font-size: 10vw;
        padding-bottom: 50px;
        
    }
}

/*Slider Start*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(214, 214, 214, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
   .dot:hover {
    background-color: #ffffff;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  /*Slider End*/



  .postcard {
	padding-top: 10px;
	flex-wrap: wrap;
	display: flex;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	border-radius: 10px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	color: #fff;
   
}

.postcard.light {
	background-color: #e1e5ea;
}

.postcard a {
	color: inherit;
}
.postcard h1, .postcard .h1 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.postcard .small {
	font-size: 80%;
}
.postcard .postcard__title {
	font-size: 1.75rem;
}
.postcard .postcard__img {
	max-height: 180px;
	width: 100%;
	object-fit: cover;
	position: relative;
}
.postcard .postcard__img_link {
	display: contents;
}
.postcard .postcard__bar {
	width: 50px;
	height: 10px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.postcard .postcard__text {
	padding: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: column;
}
.postcard .postcard__preview-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	height: 100%;
}
.postcard .postcard__tagbox {
	display: flex;
	flex-flow: row wrap;
	font-size: 14px;
	margin: 20px 0 0 0;
	padding: 0;
	justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
	display: inline-block;
	background: rgba(83, 83, 83, 0.4);
	border-radius: 3px;
	padding: 2.5px 10px;
	margin: 0 5px 5px 0;
	cursor: default;
	user-select: none;
	transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
	background: rgba(83, 83, 83, 0.8);
}
.tag__item button{
	border: none;
	background-color: transparent;
}
.tag__item button:hover{
	color: white;
}

.postcard:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(-70deg, #424242, transparent 50%);
   opacity: 1;
   border-radius: 10px;
}
.postcard:hover .postcard__bar {
	width: 100px;
}
@media screen and (min-width: 769px) {
	.postcard {
		flex-wrap: inherit;
   }
	.postcard .postcard__title {
		font-size: 2rem;
   }
	.postcard .postcard__tagbox {
		justify-content: start;
   }
	.postcard .postcard__img {
		max-width: 300px;
		max-height: 100%;
		transition: transform 0.3s ease;
   }
	.postcard .postcard__text {
		padding: 3rem;
		width: 100%;
   }
	.postcard .media.postcard__text:before {
	   content: "";
	 position: absolute;
	 display: block;
	 background: #18151f;
	 top: -20%;
	 height: 130%;
	 width: 55px;
   }
	.postcard:hover .postcard__img {
		transform: scale(1.1);
   }
	.postcard:nth-child(2n+1) {
		flex-direction: row;
   }
	.postcard:nth-child(2n+0) {
		flex-direction: row-reverse;
   }
	.postcard:nth-child(2n+1) .postcard__text::before {
		left: -12px !important;
		transform: rotate(4deg);
   }
	.postcard:nth-child(2n+0) .postcard__text::before {
		right: -12px !important;
		transform: rotate(-4deg);
   }
}
@media screen and (min-width: 1024px) {
	.postcard__text {
		padding: 2rem 3.5rem;
   }
	.postcard__text:before {
	   content: "";
	   position: absolute;
	   display: block;
	   
	   top: -20%;
	   height: 130%;
	   width: 55px;
   }
	.postcard.dark .postcard__text:before {
		background: #18151f;
   }
	.postcard.light .postcard__text:before {
		background: #e1e5ea;
   }
}
/* COLORS */

.postcard .postcard__tagbox .blue.play:hover {
	background: #0076bd;
}
.blue .postcard__title:hover {
	color: #0076bd;
}
.blue .postcard__bar {
	background-color: #0076bd;
}
.blue::before {
	background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
	   
	.blue::before {
		background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
   }
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
   }
}

@media screen and (min-width: 200px) {
		
	.card{
		margin-bottom: 15px;
		height: 0.1rem;
	}
}


/* Icon */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: linear-gradient(#3B5998, #1b7dd8da);
    color: white;
  }
  
  .instagram {
    background: linear-gradient(#d52fffc5, #ff990091) ;
    color: white;
  }
  
  .whatsapp {
    background: linear-gradient(#3fff0fc7, #16c1698f);
    color: white;
  }
  
  .twitter {
    background: linear-gradient(#7c9bdd, #98c1e6ee);
    color: white;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  /*Loader*/
  #loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('../CAP-Website-main/images/loader.gif') no-repeat center;
    z-index: 9;
}


/*Slider*/


/*Timeline for about us*/

.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline li .title,
.timeline li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline li .title::before,
.timeline li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline::before {
    grid-column: 2;
  }
  .timeline li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}
