@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --first-color: #8cafc1f0;
    --second-color: #9db1f1;
    --third-color: #b8d1ee;
    --text-color: #000000;
    --box-shadow: 0 5px 25px rgb(2, 2, 2, 8.1); 
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--first-color);
}


.topRow {
    background: linear-gradient(aliceblue, #8cafc1f0) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
}

section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

/*Navbar Start*/

.Navbar {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  background: #8cafc1f0;

}
.wrapper {
  padding: 6px;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  background: #8cafc1f0;
  border-radius: 50px;
 
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #8cafc1f0 50%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #8cafc1f0 50%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: #efedfb00;
}
.icon:first-child i {
  margin-left: 0px;
} 
.icon:last-child i {
  margin-right: 0px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
  background: #f5f4fd;
  padding: 13px 20px;
  border-radius: 30px;
}
.tabs-box .tab:hover{
  background: #889ef6;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #fff;
  background: #889ef6;
  border-color: transparent;
}

/*Navbar End-*/

/*Slider Start*/

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(209, 201, 201, 0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

  /*Slider End*/

/*Article Start*/

  .postcard {
	padding-top: 10px;
	flex-wrap: wrap;
	display: flex;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	border-radius: 10px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	color: #fff;
   
}

.postcard.light {
	background-color: #fff;
}

.postcard a {
	color: #4e4b4b;
}
.postcard h1, .postcard .h1 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.postcard .small {
	font-size: 80%;
}
.postcard .postcard__title {
	font-size: 1.75rem;
}
.postcard .postcard__img {
	max-height: 180px;
	width: 100%;
	object-fit: cover;
	position: relative;
}
.postcard .postcard__img_link {
	display: contents;
}
.postcard .postcard__bar {
	width: 50px;
	height: 10px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.postcard .postcard__text {
	padding: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: column;
}
.postcard .postcard__preview-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	height: 100%;
  color: #000;
}
.postcard .postcard__tagbox {
	display: flex;
	flex-flow: row wrap;
	font-size: 14px;
	margin: 20px 0 0 0;
	padding: 0;
	justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
	display: inline-block;
	background: rgba(83, 83, 83, 0.4);
	border-radius: 3px;
	padding: 2.5px 10px;
	margin: 0 5px 5px 0;
	cursor: default;
	user-select: none;
	transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
	background: rgba(83, 83, 83, 0.8);
}
.tag__item button{
	border: none;
	background-color: transparent;
}
.tag__item button:hover{
	color: white;
}

.postcard:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(-70deg, #424242, transparent 50%);
   opacity: 1;
   border-radius: 10px;
}
.postcard:hover .postcard__bar {
	width: 100px;
}
@media screen and (min-width: 769px) {
	.postcard {
		flex-wrap: inherit;
   }
	.postcard .postcard__title {
		font-size: 2rem;
   }
	.postcard .postcard__tagbox {
		justify-content: start;
   }
	.postcard .postcard__img {
		max-width: 300px;
		max-height: 100%;
		transition: transform 0.3s ease;
   }
	.postcard .postcard__text {
		padding: 3rem;
		width: 100%;
   }
	.postcard .media.postcard__text:before {
	   content: "";
	 position: absolute;
	 display: block;
	 background: #18151f;
	 top: -20%;
	 height: 130%;
	 width: 55px;
   }
	.postcard:hover .postcard__img {
		transform: scale(1.1);
   }
	.postcard:nth-child(2n+1) {
		flex-direction: row;
   }
	.postcard:nth-child(2n+0) {
		flex-direction: row-reverse;
   }
	.postcard:nth-child(2n+1) .postcard__text::before {
		left: -12px !important;
		transform: rotate(4deg);
   }
	.postcard:nth-child(2n+0) .postcard__text::before {
		right: -12px !important;
		transform: rotate(-4deg);
   }
}
@media screen and (min-width: 1024px) {
	.postcard__text {
		padding: 2rem 3.5rem;
   }
	.postcard__text:before {
	   content: "";
	   position: absolute;
	   display: block;
	   
	   top: -20%;
	   height: 130%;
	   width: 55px;
   }
	.postcard.dark .postcard__text:before {
		background: #18151f;
   }
	.postcard.light .postcard__text:before {
		background: #fff;
   }
}
/* COLORS */

.postcard .postcard__tagbox .blue.play:hover {
	background:linear-gradient( 90deg, #db8c71ee,#e0e00a,#2edb34, #14c1b3, #9c6fb5);
}
.blue .postcard__title:hover {
	color: linear-gradient(90deg, #db8c71ee,#e0e00a,#2edb34, #14c1b3, #9c6fb5);
}
.blue .postcard__bar {
	background: linear-gradient(90deg, #db8c71ee,#e0e00a,#2edb34, #14c1b3, #9c6fb5);
}
.blue::before {
	background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
	   
	.blue::before {
		background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
   }
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
   }
}

@media screen and (min-width: 200px) {
		
	.card{
		margin-bottom: 15px;
		height: 0.1rem;
	}
}


/*Article End   */


/* Icon */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: linear-gradient(#3B5998, #1b7dd8da);
    color: white;
  }
  
  .instagram {
    background: linear-gradient(#d52fffc5, #ff990091) ;
    color: white;
  }
  
  .whatsapp {
    background: linear-gradient(#3fff0fc7, #16c1698f);
    color: white;
  }
  
  .twitter {
    background: linear-gradient(#7c9bdd, #98c1e6ee);
    color: white;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  /*Loader*/
  #loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('../CAP-Website-main/images/loader.gif') no-repeat center;
    z-index: 9;
}


/*Slider*/


/*Timeline for about us*/

.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline li .title,
.timeline li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline li .title::before,
.timeline li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline::before {
    grid-column: 2;
  }
  .timeline li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}

/* Auto Sponser Slider */


h2 {
  text-align: center;
  padding: 20px;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  border-radius: 50%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*What we ALL do in grid*/

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}


.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 0rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
